@{
    ViewData["Title"] = "Leran Language";
}

<style>
   body{
        background-image: linear-gradient(to right,black, red, yellow,blue,white,red);
   }

    .inputDivs1 {
        height: 400px;
        width: 45%;
        border-radius: 15px;
        background-image: linear-gradient(black,black, red,yellow);
        color: white;
        float: left;
        margin-left: 15px;
        margin-top: 50px;
        padding: 5px;
    }

    .inputDivs2 {
        height: 400px;
        width: 45%;
        border-radius: 15px;
        background-image: linear-gradient(to bottom right,blue,blue,blue,blue,red, white,red,white,red,white,red,white,red,white,red,white,red);
        color: gray;
        float: left;
        margin-left: 55px;
        margin-top: 50px;
        padding: 5px;
    }

    .bottumDiv {
        height: 100px;
        width: 100px;
    }
</style>

<div class="inputDivs1" style="float:left">
    <h1>Beni Bekleme Annem </h1>
</div>
<div class="inputDivs2" style="float:left">
    <h1>Beni Bekleme</h1>
</div>