@{
    ViewBag.Title = "Learn Languece";
}

<style>
    body {
        osition: relative;
        background: #4261cf;
        background: -moz-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3023ae), color-stop(100%, #53a0fd));
        background: -webkit-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
        background: -o-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
        background: -ms-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
        background: linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-start', endColorstr='$gradient-end',GradientType=1 );
        color: white;
        position: relative;
    }

    .inputDivs1 {
        height: 400px;
        width: 45%;
        border-radius:15px;
        background-image: linear-gradient(black,black, red,yellow);
        color: white;
        float: left;
        margin-left: 15px;
        margin-top: 50px;
        padding: 5px;
    }

    .inputDivs2 {
        height: 400px;
        width: 45%;
        border-radius: 15px;
        background-image: linear-gradient(to bottom right,blue,blue,blue,blue,red, white,red,white,red,white,red,white,red,white,red,white,red);
        color: gray;
        float: left;
        margin-left: 55px;
        margin-top: 50px;
        padding: 5px;
    }

    .bottumDiv {
        height: 100px;
        width: 100px;
    }
</style>

<div class="inputDivs1" style="float:left">
    <h1>Deutsch</h1>
    <p class="lead">Du solltest jeden Tag 10 neue Wörter hinzufügen.</p>
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Wort: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black;" /><br /><br /><br />
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Erläuterung: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black;" /><br /><br /><br />
    <p><mark style="color:transparent; background-color:transparent;">--------------------</mark><a href="https://asp.net" class="btn btn-primary btn-lg">Genehmigen &raquo;</a></p><br /><br />

    <p>Gesamtwortzahl:</p><!--Gesamtwortzahl function come here-->
</div>
<div class="inputDivs2" style="float:left">
    <h1>English</h1>
    <p class="lead">You should add 10 new words every day.</p>
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Word: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black;" /><br /><br /><br />
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Explanation: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black;" /><br /><br /><br />
    <p><mark style="color:transparent; background-color:transparent;">--------------------</mark><a href="https://asp.net" class="btn btn-primary btn-lg">Complate &raquo;</a></p><br /><br />
    <p>Total words count:</p><!--Total function come here-->
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


</div>