@{
    ViewData["Title"] = "Leran Language";
}

<style>
   body{
        background-image: linear-gradient(to right,black, red, yellow,blue,white,red);
   }

    .inputDivs1 {
        height: 400px;
        width: 45%;
        border-radius: 15px;
        background-image: linear-gradient(black,black, red,yellow);
        color: white;
        float: left;
        margin-left: 15px;
        margin-top: 50px;
        padding: 5px;
    }

    .inputDivs2 {
        height: 400px;
        width: 45%;
        border-radius: 15px;
        background-image: linear-gradient(to bottom right,blue,blue,blue,blue,red, white,red,white,red,white,red,white,red,white,red,white,red);
        color: gray;
        float: left;
        margin-left: 55px;
        margin-top: 50px;
        padding: 5px;
    }

    .bottumDiv {
        height: 100px;
        width: 100px;
    }
</style>

<div class="inputDivs1" style="float:left">
    <h1>Deutsch</h1>
    <p class="lead">Du solltest jeden Tag 10 neue Wörter hinzufügen.</p>
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Wort: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black; width:250px" id="wortID" /><br /><br /><br />
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Erläuterung: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black; width:250px" " id="erlaID" /><br /><br /><br />
    <p><mark style="color:transparent; background-color:transparent;">--------------------</mark><a onclick="saveDataDeutsch()" class="btn btn-primary btn-lg">Genehmigen &raquo;</a></p><br /><br />

    <p>Gesamtwortzahl:</p><!--Gesamtwortzahl function come here-->
</div>
<div class="inputDivs2" style="float:left">
    <h1>English</h1>
    <p class="lead">You should add 10 new words every day.</p>
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Word: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black; width:250px" " id="wordID" /><br /><br /><br />
    <label><mark style="color:transparent; background-color:transparent;">---</mark>Explanation: <mark style="color:transparent; background-color:transparent;">---</mark></label><input type="text" style="color: black; width:250px" " id="exploID" /><br /><br /><br />
    <p><mark style="color:transparent; background-color:transparent;">--------------------</mark><a onclick="saveDataEnglish()" class="btn btn-primary btn-lg">Complate &raquo;</a></p><br /><br />
    
    <p>Total words count:</p><!--Total function come here-->
</div>